FolioConsoleUI/Connected Services/FolioService/FolioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61118/FolioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FolioLibrary.Data" />
  <xs:element name="GetFolioStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFolioStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FolioLibrary.Data" minOccurs="0" name="GetFolioStatusResult" nillable="true" type="q1:FolioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>