FolioConsoleUI/Connected Services/FolioService/FolioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FolioLibrary.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FolioLibrary.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FolioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="External_St" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Folio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Internal_St" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Producer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Real_St" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Txn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FolioDTO" nillable="true" type="tns:FolioDTO" />
</xs:schema>